.scroll-page {
    .loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}

  .sekleton {
    width: 100%;
    height: 700px;
    border-radius: 10px;
    background-color: #eee;
  }
  .wrapper {
    width: 50%;
    margin: auto;
    height: 200px;
    .intersection-target {
      height: 1px;
    }
    .card {
      img {
        height: 600px;
      }
    }
  }
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}
